<div class="title-bar">
	<div class="title-bar-btns">
		<button id="refresh-btn" class="navbtn refreshbtn"></button>
		<button id="settings-btn" class="navbtn settingsbtn"></button>
		<button id="min-btn" class="navbtn minbtn"></button>
		<button id="max-btn" class="navbtn maxbtn"></button>
		<button id="close-btn" class="navbtn closebtn"></button>
	</div>
  </div>
  <span class="infoText" id="info"></span>