<html>

   <head>
      <meta charset="UTF-8">
      <title>League of Dreams</title>
      <link rel="stylesheet" href="/css?file=navbar">
      <link rel="stylesheet" href="/css?file=client">
      <link rel="stylesheet" href="/css?file=global">

     <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="assets/css/master.css">
   </head>

   <body>
		<%- include("./partials/navbar.ejs") %>
		<%- body -%>
      <script src="https://kit.fontawesome.com/43cefe143e.js" crossorigin="anonymous"></script>
	</body>

</html>