<html>

  <head>

    <meta charset="UTF-8">
    <title>League of Dreams</title>
    <link rel="stylesheet" href="/css?file=global">
    <link rel="stylesheet" href="/css?file=navbar">
    
    <link rel="stylesheet" href="/css?file=old_style_login">
    <link rel="stylesheet" href="/css?file=register">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>

		<%- include("./partials/navbar.ejs") %>
		<%- body -%>
		<%- include("./partials/javascriptOnly.ejs") %>

	</body>
</html>